.centro{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}
.lista{
    font-size: 1.8rem;
    margin-left: 9rem;
}
.tablero {
    width: 50rem;
    height: 30rem;
    border-radius: 5px;

    margin: auto;
    margin-top: 10rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0.5rem;
    gap: 1rem;

    grid-column-start: 3;
    grid-column-end: 7;
}
.carta_tracera{
    position: relative;
    background-color: palevioletred;
    border-radius: 5px;
    
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.carta{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(159, 154, 154);
    border-radius: 5px;
    font-size: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    /* cambio de color */
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.activar{
    transform: rotateY(180deg);

}
.ocultar{
    transform: rotatey(90deg);

}

@media screen and (max-width : 725px) {
    .tablero {
        width: 36rem;
        height: 90rem;
        border: 1px solid rgb(208, 68, 205);
        border-radius: 5px;
    
        margin: auto;
        margin-top: 3rem;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        padding: 1rem;
        gap: 1rem;
    
    }

    .carta{
        width: 100%;
        height: 100%;
        background-color: rgb(226, 151, 221);
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
    }
}